html{
  background-color: #4286f4
}

.centerText{
  text-align: center
}

#title{
  color:   #FF5733 
}

#container{
  margin-left: 32px;
  display: flex;
  justify-content: space-evenly
}
/*when hovering over a button changes buttons color*/
#projectText:hover{
  cursor:  pointer;
  color: #FF5733 
}

#techText:hover{
  cursor:  pointer;
  color: #FF5733 
}

#projectList{
  text-align: center;
  margin-top: 12px
}

#techList{
  text-align: center;
  margin-top: 12px
}

.linkText{
  color: #FF5733 
}

#image{
  justify-content: center
}
